@font-face {
    font-family: 'pixelfont';
    src: url(assets/fonts/pixelfont.ttf) format('truetype');;
}

html {
    overflow: hidden;
    background-color: #0c1016;
}

h1, p {
    font-family: pixelfont, sans-serif;
    color: white;
    vertical-align: center;
}