@font-face {
    font-family: 'pixelfont';
    src: url(assets/fonts/pixelfont.ttf) format('truetype');;
}

html {
    overflow: hidden;
    background-color: #0c1016;

    font-family: pixelfont, sans-serif;
    color: white;
    text-align: center;
}

#info {
    text-align: center;
    font-size: 30px;
}


#github:visited {
    color: #6600ff;
}

#github:hover {
    color: #9933ff;
}

#github:active {
    color: #cc33ff;
}

#github {
    text-decoration: none;
}

footer {
    clear: both;
    position: relative;
    height: 200px;
    font-size: 25px;
    margin-top: 50%;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}